<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>skyBlog</title>
    <link rel="stylesheet" href="styles/main.css">
    <link href="https://fonts.cdnfonts.com/css/avenir-lt-pro" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Blog
        </h1>
    </header>
    <main>