<div class="post-form">
    <form action="/submit" method="POST">
        <div class="info">
            <label for="title">Title :</label>
            <input type="text" name="title" required >
        </div>
        <div class="info">
            <label for="message">Message:</label>
            <textarea name="message" rows="4" cols="50" required></textarea>
        </div>
        <div class="info btn-box">
            <button type="submit">Submit</button>
        </div>
    </form>
</div>